@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  .ionicon {
    cursor: pointer;
  }
}

@layer components {
  .custom-border {
    @apply flex h-10 items-center px-1 transition duration-300 ease-in-out hover:border-b hover:border-solid hover:border-black md:h-20;
  }

  .black-button {
    @apply bg-black py-2 font-bold uppercase tracking-wider text-white hover:text-darkerGray;
  }

  .white-button {
    @apply border bg-white py-2 font-bold uppercase tracking-wider text-black hover:text-darkerGray;
  }

  .header-spacing {
    @apply pt-[88px] md:pt-[128px];
  }

  .default-x-padding {
    @apply px-4 sm:px-10 xl:px-16;
  }
}
