@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  .ionicon {
    cursor: pointer;
  }
}

@layer components {
  .custom-border {
    @apply flex h-10 items-center px-1 transition duration-300 ease-in-out hover:border-b hover:border-solid hover:border-black md:h-20;
  }
}
